$color__brand-blue: #2354E8;
$color__brand-gold: #f5a623;
$color__brand-gray: #E3E3E3;

$color__black: #020303;
$color__black-dark: #000;
$color__white: rgb(255, 255, 255);

$color__gray--light: #9B9B9B;
$color__gray--medium: #5b5b5b;

$color__gray-text: $color__gray--light;


$color__white--opaque: rgba(255, 255, 255, 0.95);
$color__box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
