


//------------------------------------------
//				Variables
//------------------------------------------
$font-size-base: 16px;
$font__line-height: 1.5;



$font-size__h1: 24px !default;
$font-size__h2: 18px !default;
$font-size__h3: 18px !default;
$font-size__h4: 16px !default;
$font-size__h5: 14px !default;
$font-size__h6: 14px !default;

$font-size__h1--tablet: 36px !default;
$font-size__h2--tablet: 24px !default;
$font-size__h3--tablet: 18px !default;
$font-size__h4--tablet: 18px !default;

$font-size__small: 14px;
$font-size__smallest: 12px;

$font-size__infographic: 96px;
$font-size__infographic--tablet: 96px;

$font-size__body-display: 16px;
$font-size__body-display--tablet: 18px;

$font-size__body-display-large: 20px;
$font-size__body-display-large--tablet: 24px;

$font-size__body-normal: 16px;

$font-size__caption-small: $font-size__smallest;


$font-size__hero: 74px !default;

//------------------------------------------
//				Helpful Functions for font conversion to EM
//------------------------------------------

@function em($pixels, $base: null) {
  @if $base == null {
    $base: $font-size-base;
  }
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

	@return ($pixels / $base) * 1em;
}

$font-family__roboto-condensed: 'Roboto Condensed', sans-serif;
$font-family__roboto: 'Roboto', sans-serif;

$font-family__secondary: $font-family__roboto;
$font-family__primary: $font-family__roboto-condensed;


$font-weights: (
  regular: 400,
  medium: 500,
	semibold: 600,
	bold: 700,
	black: 900
);

@mixin font($family: null, $size: null, $weight: null, $size-base: null ) {
  font-family: $family;

	@if $size != null {
		font-size: em($size, $size-base);
  }

	@if map-has-key($font-weights, $weight) {
		font-weight: map-get($font-weights, $weight);
	}
}
