//standard
$spacing-base: $font-size-base;

//variation
$spacing__sm: 10px;
$spacing__md: 32px;
$spacing__lg: 50px;
$spacing__xl: 124px;

$spacing__unit: 24px;

$spacing__normalize: $spacing-base * $font__line-height;