//------------------------------------------
//				Zindexes
//------------------------------------------

$zindex__modal: 100;

$zindex__global-header: 90;

$zindex__loading-screen: $zindex__global-header - 10;

$zindex__back-to-top: 20;
