$button__font-size: 12px;
$button__padding: 14px;
$button__min-width: 156px;

button {
  line-height: 1.1;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
  position: relative;
  border-radius: 0;
  padding: 0;
  border-width: 1px;
}

//default styles
.btn {
  display: inline-block;
  background-color: transparent;
  border-color: transparent;
  transition: all 0.4s;
  position: relative;
  border-radius: 8px;
  border-width: 2px;
  text-align: center;
  padding: px-to-em($button__padding);
  border:1px solid $color__black-dark;
  line-height: 1.5;
  letter-spacing: 4px;
  color: $color__black-dark;
  min-width: px-to-em($button__min-width);
  
  @include respond-to('between') {
    
  }
}