$button__font-size: 12px;
$button__padding: 14px;
$button__min-width: 156px;

button {
  line-height: 1.1;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
  position: relative;
  border-radius: 0;
  padding: 0;
  border-width: 1px;
}

//default styles
.btn {
  display: inline-block;
  background-color: transparent;
  transition: all 0.4s;
  position: relative;
  border-radius: 8px;
  border-width: 2px;
  text-align: center;
  padding: em($button__padding);
  border:1px solid $color__black-dark;
  line-height: 1.5;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: map-get($map: $font-weights, $key: 'bold');
  color: $color__black-dark;
  min-width: em($button__min-width);


  &--link {
    border: 0 none;
  }
}

.btn-primary {
  @extend .btn;
  padding: em($button__padding) em($spacing__unit);

  &--gold {
    background-color: $color__brand-gold;
    color: $color__white;
    border-color: $color__brand-gold;
  }
}