.global-nav-children {
  
  &__bar {
    position: relative;
  }

  &__option {
    &:last-child {
      padding-bottom: em($spacing__md);
    }
  }

  &__options {
    overflow: hidden;
    height: 0;
    
    .global-header {
      &__nav-link {
        text-transform: none;
        padding-top: em($spacing__sm);
        padding-bottom: em($spacing__sm);
      }
    }
  }

  &__toggle {
    @include center-align(vertical);

    color: $color__white;
    position: absolute;
    right: 0;
    border: 0 none;
    padding:0.25em 0 0.75em 1em;
    
    .icon {
      font-size: em(10px);
    }
  }

  &__bar--expanded {
    .icon {
      &:before {
        content: map-get($map: $icons, $key: 'chevron-up');
      }
    }
  }

  @include respond-to('desktop') {
    position: relative;


    &--is-hovered &{
      &__options {
        @include transition(opacity);

        opacity: 1;
        visibility: visible;
      }
    }

    &__toggle {
      display: none
    }

    &__options {
      overflow: hidden;
      height: auto;
      position: absolute;
      top: 100%;
      left: 0;
      border-top: 3px solid #f5a623;
      background-color: $color__black;
      padding: em($spacing__unit) em($spacing__md);
      opacity: 0;
      visibility: hidden;

      transition: opacity $transition__timing $transition__ease,
        visibility $transition__timing 0.1s $transition__timing;
    }

    &__option {
      white-space: nowrap;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
