$global-header__height: 70px;
$global-header__height--tablet: 83px;
$global-header__height--desktop: 226px;

.global-header {
  $logo-width: em(34px);
  $logo-width--tablet: em(70px);
  $logo-width--desktop: em(160px);
  $logo-text-width: em(132px);

  position: absolute;
  width: 100%;
  height: em($global-header__height);
  background-color: $color__black-dark;
  z-index: $zindex__global-header;


  &__body {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: em(1000px) +  em($wrapper-padding * 2);
  }

  &__brand {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    width: $logo-width + $logo-text-width + em($spacing__unit);
    

    &-logo {
      width: $logo-width;
      flex-shrink: 0;
    }

    &-text {
      width: $logo-text-width;
      flex-shrink: 0;
      margin-left: em($spacing__sm)
    }
  }

  &__search-toggle,
  &__menu-toggle {
    color: $color__white;
    font-size: em(24px);
  }

  &__menu-toggle {
    width: em(25px);
    text-align: right;

    &--is-expanded {
      .icon {
        content: map-get($map: $icons, $key: 'close')
      }
    }
  }

  &__nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    border-top: 3px solid #f5a623;
    background-color: $color__black-dark;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transition: opacity $transition__timing ease-out,
      visibility $transition__timing ease-out $transition__timing;
    

    &--show-menu {
      @include transition(opacity);

      opacity: 1;
      visibility: visible;
    }
  }

  &__nav-item {
    border-bottom: 1px solid $color__gray-text;
    padding-left: 1em;
    padding-right: 1em;
  }

  &__nav-link {
    @include transition(color);

    color: $color__white;
    letter-spacing: 0.1em;
    line-height: 1.4;
    font-weight: map-get($map: $font-weights, $key: 'bold');
    text-transform: uppercase;
    padding-top: em($spacing__unit);
    padding-bottom: em($spacing__unit);
    display: inline-block;
    width: 100%;
  }

  .global-search {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
  }

  @include respond-to('between') {
    &__nav-item {
      position: relative;

      & > .global-header__nav-link,
      .global-nav-children__bar > .global-header__nav-link {
        &:before {
          @include center-align(horizontal);
          @include transition(opacity);
  
          content: '';
          width: em(146px);
          height: em(83px);
          background: url('~/assets/images/spotlight.png') no-repeat center top;
          background-size: contain;
          top: 0;
          opacity: 0;
        }
        &:hover {
          &:before {
            opacity: 1;
          }
        }
      }
    }

    &__nav-link {
      &:hover {
        color: $color__brand-gold;
      }
    }
  }

  @include respond-to('desktop') {
    height: em($global-header__height--tablet);

    &--transparent {
      background-color: transparent;
    }

    &__nav {
      flex-grow: 1;
      position: relative;
      left: auto;
      top: auto;
      width: auto;
      border-top: none;
      background-color: transparent;
      opacity: 1;
      visibility: visible;
      text-align: left;
      transition: none;
      
    }

    &__nav-item {
      &:first-child {
        .global-header__nav-link {
          padding-left: 0;
        }
      }
      &:last-child {
        .global-header__nav-link {
          padding-right: 0;
        }
      }
    }

    &__nav-link {
      padding: em(30px) 1em;
    }

    &__nav-right,
    &__nav-left {
      display: inline-flex;
      flex-wrap: nowrap;
      align-items: center;
      width: 50%;
    }

    
    // &__nav-left {
    //   padding-right: $logo-width--tablet/2
    // }

    &__nav-right {
      padding-right: 2em;
      text-align: right;
      justify-content: flex-end;
    }

    &__nav-item {
      border-bottom: 0;
      padding: 0;
    }
  
    &__brand {
      @include center-align(horizontal);
      display: block;
      width: auto;
      top: 1em;
      margin-left: em(32px);

      &-logo {
        width: $logo-width--tablet
      }

      &-text {
        display: none;
      }
    }

    &__body {
      padding-left: em($wrapper-padding);
      padding-right: em($wrapper-padding);
    }

    &__menu-toggle {
      display: none;
    }

    &__search-toggle {
      height: 100%;
    }

    &__actions {
      position: relative;
      height: 100%;

      .global-search {
        right: 0;
        left: auto;
        width: em(285px);
      }
    }
  }

  @include respond-to('desktop-large') {
    height: em($global-header__height--desktop);
    left: 50%;
    transform: translateX(-50%);

    &__brand {
      display: block;
      &-logo {
        width: $logo-width--desktop
      }
    }
  }
}
