
.global-footer {
  background-color: $color__black;
  color: $color__white;
  text-align: center;
  padding: em($spacing__lg) 0;
  text-transform: uppercase;

  &__logo {
    width: em(150px);
  }
  
  &__links,
  &__heading,
  &__contact {
    font-weight: map-get($map: $font-weights, $key: bold );
    letter-spacing: 0.1em;
  }

  &__links-item {
    & + & {
      margin-top: em($spacing__sm)
    }
  }

  &__heading {
    font-size: 1em;
    margin-bottom: 1em;
  }

  &__contact {
    margin: em($spacing__sm) 0 0;
  }

  &__contact-link {
    text-transform: none;
  }

  &__contact-label {
    display: inline-block;
    width: 1.5em;
  }

  &__copyright {
    text-transform: none;
    font-family: $font-family__secondary;
    font-size: em($font-size__smallest);
    margin-top: em($spacing__md);
  }

  .social-links {
    $icon-dimension: 32px;
    &__item {
      margin:0 0.5em;
    }

    &__icon {
      border-radius: 50%;
      width: em($icon-dimension);
      height: em($icon-dimension);
      background-color: $color__brand-gold;
      color: $color__white;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__column {
    & + & {
      margin-top: em($spacing__lg);
    }
  }

	@include respond-to('desktop') {
    text-align: left;

		&__body {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__logo {
      width: em(196px);
    }

    &__copyright {
      font-size: em($font-size__smallest);
      margin-top: em($spacing__lg, $font-size__smallest);
    }

    &__column {
      & + & {
        margin-top: 0;
      }
      
      &--main {
        order: -1;
      }
    }
    .social-links {
      &__item {
        margin-left: 0;
        margin-right: 1em;
      }
    }
	}
}
