.listing-pages {
  text-align: center;

  &__section {
    @include bg-cover;
    padding: em($spacing__lg) 0;
    background-position: center;
    color: $color__white;
    background-color: $color__gray--medium;

    &:nth-child(2n) {
      color: $color__black;
      background-color: #e6e6e6;
    }
  }

  &__heading {
    margin-bottom: $spacing__sm * 2;
    font-size: 1em;
  }

  &__cta {
    margin-top: em($spacing__md);
  }

  @include respond-to('between') {
    text-align: left;
    &__content {
      max-width: em(427px);
      display: inline-block;
    }

    &__description  {
      text-align: left;
    }
    &__section {
      padding: em($spacing__lg) 0;

      &:nth-child(2n+1) {
        text-align: right;
      }
    }
  }
}
