.page-heading {
  @include bg-cover;
  
  padding-top: em($global-header__height + $spacing__lg);
  padding-bottom: em($spacing__lg);
  text-align: center;
  color: $color__white;



  @include respond-to('between') {
    padding-top:  em($global-header__height--tablet + $spacing__lg*2);
    padding-bottom: em($spacing__lg*2);
  }

  // @include respond-to('header-desktop') {
  //   padding-top:  em($global-header__height--desktop + $spacing__lg*2);
  // }
}
