$wrapper-padding: 35px;
$wrapper-padding--tablet: 30px;

$wrapper-max-width: 1440px;

.wrapper {
	width: 100%;
  max-width: px-to-em($wrapper-max-width) +  px-to-em($wrapper-padding * 2);
  padding-left: px-to-em($wrapper-padding);
  padding-right: px-to-em($wrapper-padding);
  margin-left: auto;
	margin-right: auto;

	@include respond-to('between') {
		// padding-left: px-to-em($wrapper-padding * 3);
  	// padding-right: px-to-em($wrapper-padding * 3);
	}
}
