$wrapper-padding: 20px;
$wrapper-padding--tablet: 30px;

$wrapper-max-width: 1200px;
$wrapper-max-width-narrow: 575px;
$wrapper-max-width-medium: 800px;



.wrapper {
	width: 100%;
  max-width: em($wrapper-max-width) +  em($wrapper-padding--tablet * 2);
  padding-left: em($wrapper-padding);
  padding-right: em($wrapper-padding);
  margin-left: auto;
	margin-right: auto;

	&--narrow {
		max-width: em($wrapper-max-width-narrow) +  em($wrapper-padding--tablet * 2);
		padding-left: em($wrapper-padding);
	  padding-right: em($wrapper-padding);
	}

	&--medium {
		max-width: em($wrapper-max-width-medium) +  em($wrapper-padding--tablet * 2);
		padding-left: em($wrapper-padding);
	  padding-right: em($wrapper-padding);
	}

	@include respond-to('between') {
		padding-left: em($wrapper-padding--tablet);
  	padding-right: em($wrapper-padding--tablet);
	}
}
